{# Title #}
{% if post.slug == 'home' %}
	{% set metaTitle = site.name %}
{% elseif wp_title %}
	{% set metaTitle = wp_title %}
{% else %}
	{% set metaTitle = site.name %}
{% endif %}
{# Description #}
{% if post.slug == 'home' %}
	{% set metaDescription = site.description %}
{% elseif post.content != '' %}
	{% set metaTitle = post.content|striptags|trim|slice(0,300) %}
{% elseif content.content != '' %}
	{% set metaTitle = content.content[0].content|striptags|trim|slice(0,300) %}
{% endif %}
{% if post.slug == 'home' %}
	{% set metaImage = options.info.image %}
{% elseif header.image %}
	{% set metaImage = header.image|resize(1200, 665) %}
{% elseif post.get_thumbnail.src != '' %}
	{% set metaImage = post.get_thumbnail.src %}
{% else %}
	{% set metaImage = options.info.image %}
{% endif %}
<meta charset="{{site.charset}}" />
<title> {{metaTitle}}</title>
<meta name="description" content="{{metaDescription}}">
<meta property="og:title" content="{{metaTitle}}">
<meta property="og:description" content="{{metaDescription}}">
<meta property="og:image" content="{{metaImage}}">
<meta property="og:url" content="{{post.permalink}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="og:site_name" content="{{site.name}}">