<section class="flex flex-wrap justify--center align--baseline spacing--vert-2 spacing--dsk-vert-5">
	<div class="grid--one grid--sm-third max-height spacing--dsk-horiz-0 spacing--vert-1 spacing--dsk-vert-0 spacing--gutter">
		<h6>Contact</h6>
		<a target="_blank" href="{{options.social.phone}}" class="color--black font--larger"><i class="icon-phone" data-grunticon-embed></i> {{options.social.phone}}</a><br>
		<a href="mailto:{{options.social.email}}" class="color--black font--larger"><i class="icon-email" data-grunticon-embed></i> Email Us</a>
		<p class="social flex justify--between " style="width:190px;">
			{% if options.social.facebook != '' %}<a target="_blank" href="{{options.social.facebook}}"><i class="icon-social--facebook" data-grunticon-embed></i></a>{% endif %}
{% if options.social.twitter != '' %}<a target="_blank" href="http://twitter.com/{{options.social.twitter}}"><i class="icon-social--twitter" data-grunticon-embed></i></a>{% endif %}
{% if options.social.pinterest != '' %}<a target="_blank" href="{{options.social.pinterest}}"><i class="icon-social--pinterest" data-grunticon-embed></i></a>{% endif %}
{% if options.social.instagram != '' %}<a target="_blank" href="http://instagram.com/{{options.social.instagram}}"><i class="icon-social--instagram" data-grunticon-embed></i></a>{% endif %}
{% if options.social.linkedin != '' %}<a target="_blank" href="{{options.social.linkedin}}"><i class="icon-social--linkedin" data-grunticon-embed></i></a>{% endif %}
		</p>
		<a class="border button color--black font--semi-bold letter--1 text--uppercase border--4" href="https://a.zozi.com/#/express/local-roots-food-toursca/products" target="_blank">Book A Tour</a>
	</div>
	<div class="grid--one grid--sm-half spacing--gutter spacing--dsk-horiz-0 spacing--vert-1 spacing--dsk-vert-0">
		<h2>Email Signup</h2>
		<p>Stay up to date with the latest tour news!</p>
		{% include 'components/email-form.twig' %}
	</div>
</section>
<section class="grid--one text--center text--uppercase font--smaller font--semi-bold letter--1 spacing--dsk-vert-2 spacing--gutter">
	<div class="color--black">
		Copyright {{"now"|date('Y')}} &copy; {{site.title}} All Rights Reserved
	</div>
	<div class="">
		<a href="{{site.url}}/privacy-policy/">Privacy Policy</a> | <a href="{{site.url}}/terms-of-use/">Terms of Use</a> | Website <a target="_blank" href="http://honeyagency.com/?ref=clientsite&site={{site.url}}"> by Honey Agency</a>
	</div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21515986-2', 'auto');
  ga('send', 'pageview');

</script>