<section class="flex flex-wrap justify--center align--baseline spacing--vert-2 spacing--dsk-vert-5">
	<div class="grid--one grid--sm-third max-height spacing--dsk-horiz-0 spacing--vert-1 spacing--dsk-vert-0 spacing--gutter">
		<h6>Contact</h6>
		<a target="_blank" href="{{options.social.phone}}" class="color--black font--larger"><i class="icon-phone" data-grunticon-embed></i> {{options.social.phone}}</a><br>
		<a href="mailto:{{options.social.email}}" class="color--black font--larger"><i class="icon-email" data-grunticon-embed></i> Email Us</a>
		<p class="social">
			<a target="_blank" href="{{options.social.facebook}}"><i class="icon-social--facebook" data-grunticon-embed></i></a>
			<a target="_blank" href="http://twitter.com/{{options.social.twitter}}"><i class="icon-social--twitter" data-grunticon-embed></i></a>
			<a target="_blank" href="{{options.social.pinterest}}"><i class="icon-social--pinterest" data-grunticon-embed></i></a>
			<a target="_blank" href="http://instagram.com/{{options.social.instagram}}"><i class="icon-social--instagram" data-grunticon-embed></i></a>
			<a target="_blank" href="{{options.social.linkedin}}"><i class="icon-social--linkedin" data-grunticon-embed></i></a>
		</p>
		<a class="border button color--black font--semi-bold letter--1 text--uppercase border--4" href="{{site.url}}/book-a-tour/">Book A Tour</a>
	</div>
	<div class="grid--one grid--sm-half spacing--gutter spacing--dsk-horiz-0 spacing--vert-1 spacing--dsk-vert-0">
		<h2>Email Signup</h2>
		<p>Stay up to date with the latest tour news!</p>
		{% include 'components/email-form.twig' %}
	</div>
</section>
<section class="grid--one text--center text--uppercase font--smaller font--semi-bold letter--1 spacing--dsk-vert-2 spacing--gutter">
	<div class="color--black">
		Copyright {{"now"|date('Y')}} &copy; {{site.title}} All Rights Reserved
	</div>
	<div class="">
		<a href="{{site.url}}/privacy-policy/">Privacy Policy</a> | <a href="{{site.url}}/terms-of-use/">Terms of Use</a> | Website <a target="_blank" href="http://honeyagency.com/?ref=clientsite&site={{site.url}}"> by Honey Agency</a>
	</div>
</section>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21515986-1']);
  _gaq.push(['_trackPageview']);
  (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>



