{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}} spacing--dsk-vert-" id="post-{{post.ID}}">
		<section class="flex flex-wrap align--center section--content-row">
			<div class="grid--one flex flex--column justify--center grid--md-half nog bg--image cover spacing--vert-3 border--vert-thick" style="background-image:url('{{site.url}}/wp-content/uploads/2016/10/home-01.jpg')">
				<h2 class="color--yellow text--center border">Food Tours</h2>
			</div>
			<div class="grid--one flex flex--column justify--center grid--md-half nog bg--white spacing--gutter spacing--vert-1 spacing--dsk-horiz-5">
				Tantalize your taste buds on one of our 3 hour walking tours through some of Sacramento’s most historic (and delicious) neighborhoods.<br><a href="">view tours ></a>
			</div>
		</section>
		<section class="flex flex-wrap align--center section--content-row">
			<div class="grid--one flex flex--column justify--center grid--sm-half nog bg--blue text--center spacing--vert-2">
				<h2>&quot;Eat Well &amp;<br> Travel Often&quot;</h2>
				<hr class="small" />
				Anonymous
			</div>
			<div class="grid--one flex flex--column justify--center grid--sm-half nog bg--image cover" style="background-image:url('{{site.url}}/wp-content/uploads/2016/10/home-02.jpg')">
			</div>
		</section>
		<section class="flex flex-wrap align--center section--content-row">
			<div class="grid--one flex flex--column justify--center grid--md-half nog bg--image cover spacing--vert-3 border--vert-thick" style="background-image:url('{{site.url}}/wp-content/uploads/2016/10/home-03.jpg')">
				<h2 class="color--yellow text--center border">Food Tours</h2>
			</div>
			<div class="grid--one flex flex--column justify--center grid--md-half nog bg--white spacing--gutter spacing--vert-2 spacing--dsk-horiz-5">
				Our customized private tours are tailored to fit your party’s unique needs or interests. <br><a href="">view tours ></a>
			</div>
		</section>
			<section class="flex flex-wrap align--center section--content-row">
			<div class="grid--one flex flex--column justify--center grid--sm-half nog bg--green text--center color--yellow spacing--vert-2">
				<span class="spacing--vert-1">Meet</span>
				<h2 class="text--center border">The Guides</h2>
			</div>
			<div class="grid--one flex flex--column justify--center grid--sm-half nog bg--image cover" style="background-image:url('{{site.url}}/wp-content/uploads/2016/10/home-04.jpg')">
			</div>
		</section>
	</article>
{% endblock %}