{% extends "base.twig" %}
{% block content %}
	{# {{tours|print_r}} #}
	<section class="spacing--horiz-2 spacing--dsk-horiz-3 spacing--lg-horiz-6 spacing--vert-2">
	<select name="tourSelect" class="tourSelect grid--fourth icon-arrow-down">
		<option value="">Choose Your Tour</option>
			{% for tour in tours %}
				<option value="tourIndex-{{loop.index}}">{{tour.title}}</option>
			{% endfor %}
		</select>
	</section>
	{% for tour in tours %}
		<article class="{% if loop.first %}current{% endif %} tours tour-{{loop.index}}" data-tour="tourIndex-{{loop.index}}">
			<section class="spacing--horiz-2 spacing--dsk-horiz-3 spacing--lg-horiz-6 spacing--vert-2">
				<h2>{{tour.title}}</h2>
				<p class="font--headline font--semi-bold">{{tour.subtitle}}</p>
				<div class="">{{tour.paragraph}}</div>
			</section>
			<section class="flex flex-wrap">
				<div class="grid--one grid--sm-half nog bg--image spacing--vert-4 spacing--dsk-vert-5" style="background-image:url('{{tour.image}}')"></div>
				<div class="block--pricing grid--one grid--sm-half nog bg--blue color--yellow text--center spacing--vert-2 spacing--dsk-vert-5">
					<h2>{{tour.title}}</h2>
					<hr class="small">
					<div class="font--headline">{{tour.price}}</div>
					{% if tour.link %}<a class="button color--yellow" href="{{tour.link}}"><h2 class="border">Book Now ></h2></a>{% endif %}
				</div>
			</section>
			<section class="spacing--horiz-2 spacing--dsk-horiz-3 spacing--lg-horiz-6 spacing--vert-2 spacing--dsk-vert-4">
				{% set content = tour %}
				{% include 'components/sections/section--content.twig' %}
			</section>
		</article>
	{% endfor %}
{% endblock %}