{% extends "base.twig" %}
{% block content %}
	<section class="spacing--gutter max-wrap spacing--vert-2 spacing--dsk-vert-3">
		{% include 'components/sections/section--content.twig' %}
	</section>
	
	{% if about.team %}
		<article>
			<section class="content-section" data-content="contentIndex-2">
				<section class="flex flex-wrap bg--gray-faded">
					{% for team in about.team %}
						<section class="flex flex-wrap grid--one nog align--center section--content-row alternate border--vert-thick">
							<div class="grid--sm-half grid--one nog bg--image cover" style="background-image:url('{{team.image|resize(800)}}');">
							</div>
							<div class="grid--sm-half grid--one nog text flex flex--column justify--center nog text--center spacing--vert-2"><h2>{{team.title}}</h2><em>{{team.name}}</em></div>
						</section>
					{% endfor %}
				</section>
			</section>
		</article>
	{% endif %}
	{% if about.quote.text %}
		<section class="bg--yellow color--green text--center spacing--vert-2 spacing--dsk-vert-5">
			<h2>{{about.quote.text}}</h2>
			<hr class="small">
			{{about.quote.author}}
		</section>
	{% endif %}
	{% if about.tour.text %}
		<section class="flex flex-wrap section--content-row">
			<div class="bg--image grid--one grid--sm-half nog spacing--vert-4 bg--image cover" style="background-image:url('{{about.tour.image|resize(800)}}')">
			</div>
			<div class="grid--one grid--sm-half nog bg--blue spacing--vert-4 spacing--dsk-vert-6 align--center flex">
				<h2 class="color--yellow border"><a class="color--yellow" href="{{about.tour.url}}">{{about.tour.text}}</a></h2>
			</div>
		</section>
	{% endif %}
{% endblock %}