<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	{% if content.content|length > 1 %}
	<ul class=" spacing-dsk-vert-1 list--no content-list mobile--hide">
		{% for content in content.content %}
			<a class="border--4 nomar content-toggle {% if current %}{% if current == content.title %}current{% endif %}{% elseif loop.first %}current{% endif %} color--blue font--semi-bold spacing--horiz-1 text--uppercase letter--1" href="javascript:void(0);" id="contentIndex-{{loop.index}}">{{content.title}}</a>&nbsp;&nbsp;
		{% endfor %}
		{% if content.gift %}<a href="{{content.gift}}" class="text--uppercase font--semi-bold gift letter--1">Gift a tour ></a>{% endif %}
	</ul>
	<section class="dsk--hide">
		<select name="contentSelect" class="contentSelect button icon-arrow-down">
			{% for content in content.content %}
				<option value="contentIndex-{{loop.index}}">{{content.title}}</option>
			{% endfor %}
		</select>
		{% if content.gift %}<a href="{{content.gift}}" class="button border--4 color--blue text--uppercase font--semi-bold gift letter--1">Gift a tour ></a>{% endif %}
	</section>
	{% endif %}
	{% for content in content.content %}
		<section class="spacing--vert-1 spacing--dsk-vert-1 content-section {% if loop.first %}current{% endif %}" data-content="contentIndex-{{loop.index}}">{{content.content}}</section>
	{% endfor %}
</article>